
PORT=4000

DB_MASTER_HOST=localhost
DB_MASTER_PORT=5433
DB_SLAVE_HOST=localhost
DB_SLAVE_PORT=5434
DB_USERNAME=admin
DB_PASSWORD=admin
DB_NAME=postgres

ORM_SYNC=false
ORM_LOGGING=false

JWT_SECRET=secret12345
JWT_ACCESS_EXPIRATION=1h  # 1 hora
JWT_REFRESH_EXPIRATION=7d  # 7 dias

SUPER_ADMIN_EMAIL=admin@admin.com
SUPER_ADMIN_PASSWORD=123456

LOG_LEVEL=error
LOG_CONTEXTS="AuthController=debug"